a(class="item" href="/") Home
a(
  class="item" 
  href="https://prefixy.github.io/about"
) About
a(
  class="item" 
  href="https://prefixy.github.io/"
) Story
a(
  class="item"
  href="https://github.com/prefixy/prefixy"
) Source