extends layout

append head
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.0/themes/prism.min.css")

block content
  main(class="ui text container")
    div(class="ui hidden divider")

    h2(class="ui centered header") And your token is...
    div(class="ui hidden divider")

    div(class="ui form")
      div(class="ui field")
        textarea(
          style="font-size: 1.4rem; background: #f5f2f0"
          readonly
          rows="3"
        )= token
        small(style="text-indent: 10px") *Don't lose this token, and remember to bookmark this page in case you need to come back.
    div(class="ui hidden divider")

    h2(class="ui centered header") How do I use this?
    p(class="large text") Vivamus vehicula elementum semper. Sed euismod risus ac mi hendrerit mattis. Quisque eget tincidunt elit. Cras faucibus luctus rutrum. Nulla condimentum imperdiet nibh sit amet sagittis. Suspendisse eget tempus quam. Donec rhoncus lorem urna, sit amet dapibus augue ornare sed.
    div(class="ui hidden divider")

    pre
      code(class="language-js") &lt;script src=&quot;https://prefixy.io/autocomplete.js&quot;&gt;
    pre
      code(class="language-js") &lt;script&gt;new PrefixyComplete(#{token});&lt;/script&gt;
    div(class="ui hidden divider")

    h3 Example file
    div(class="ui hidden divider")

    pre
      code(class="language-js")
        | &lt;html&gt;
        |   &lt;body&gt;
        |
        |     &lt;!-- ....stuff here --&gt;
        |
        |
        |     &lt;script src=&quot;https://prefixy.io/autocomplete.js&quot;&gt;
        |     &lt;script&gt;
        |       new PrefixyComplete(#{token});
        |     &lt;/script&gt;
        |   &lt;body&gt;
        | &lt;/html&gt;
    div(class="ui hidden divider")

    h2 Okay, what if I want custom options?
    p(class="large text") Vivamus vehicula elementum semper. Sed euismod risus ac mi hendrerit mattis. Quisque eget tincidunt elit. Cras faucibus luctus rutrum. Nulla condimentum imperdiet nibh sit amet sagittis. Suspendisse eget tempus quam. Donec rhoncus lorem urna, sit amet dapibus augue ornare sed.
    div(class="ui hidden divider")

    pre
      code(class="language-js")
        | &lt;script&gt;
        |   const opts = {
        |     token: "#{token}",
        |     suggestionCount: 10
        |     minChars: 3,
        |     delay: 150
        |   };
        |
        |   new PrefixyComplete(opts);
        | &lt;/script&gt;
    div(class="ui hidden divider")

    h3 Supported options
    dl(class="large text")
      dt(class="italicized item") suggestionCount
      dd(class="description") this does blah
      dt(class="italicized item") minChars
      dd(class="description") this does blah blah
      dt(class="italicized item") delay
      dd(class="description") this does blah blah blah
    div(class="ui hidden divider")

    h2 You're all set!
    p(class="large text") Vivamus vehicula elementum semper. Sed euismod risus ac mi hendrerit mattis. Quisque eget tincidunt elit. Cras faucibus luctus rutrum. Nulla condimentum imperdiet nibh sit amet sagittis. If you need more help, see our
      a(
        target="_blank"
        href="https://github.com/jayshenk/prefixy/tree/master/docs"
      )  documentation on github here.
    div(class="ui hidden divider")

append body
  script(src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.0/prism.min.js")
