extends layout

append head
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.0/themes/prism.min.css")

block content
  main(class="ui text container")

    div(class="section container")
      h2(class="ui centered header") And your token is...

    div(class="section container")
      div(class="ui form")
        div(class="ui field")
          textarea(readonly rows="3")= token
          small *Don't lose this token, and remember to bookmark this page in case you need to come back.

    div(class="section container")
      h2(class="ui centered header") How do I use this?
      p Vivamus vehicula elementum semper. Sed euismod risus ac mi hendrerit mattis. Quisque eget tincidunt elit. Cras faucibus luctus rutrum. Nulla condimentum imperdiet nibh sit amet sagittis. Suspendisse eget tempus quam. Donec rhoncus lorem urna, sit amet dapibus augue ornare sed.

    div(class="section container")
      pre
        code(class="language-js") &lt;script src=&quot;https://prefixy.io/autocomplete.js&quot;&gt;
      pre
        code(class="language-js") &lt;script&gt;new PrefixyComplete(#{token});&lt;/script&gt;

    div(class="section container")
      h3 Example file

    div(class="section container")
      pre
        code(class="language-js")
          | &lt;html&gt;
          |   &lt;body&gt;
          |
          |     &lt;!-- ....stuff here --&gt;
          |
          |
          |     &lt;script src=&quot;https://prefixy.io/autocomplete.js&quot;&gt;
          |     &lt;script&gt;
          |       new PrefixyComplete(#{token});
          |     &lt;/script&gt;
          |   &lt;body&gt;
          | &lt;/html&gt;

    div(class="section container")
      h2 Okay, what if I want custom options?
      p Vivamus vehicula elementum semper. Sed euismod risus ac mi hendrerit mattis. Quisque eget tincidunt elit. Cras faucibus luctus rutrum. Nulla condimentum imperdiet nibh sit amet sagittis. Suspendisse eget tempus quam. Donec rhoncus lorem urna, sit amet dapibus augue ornare sed.

    div(class="section container")
      pre
        code(class="language-js")
          | &lt;script&gt;
          |   const opts = {
          |     token: "#{token}",
          |     suggestionCount: 10
          |     minChars: 3,
          |     delay: 150
          |   };
          |
          |   new PrefixyComplete(opts);
          | &lt;/script&gt;

    div(class="section container")
      h3 Supported options
      dl
        dt(class="italicized") suggestionCount
        dd this does blah
        dt(class="italicized") minChars
        dd this does blah blah
        dt(class="italicized") delay
        dd this does blah blah blah

    div(class="section container")
      h2 You're all set!
      p Vivamus vehicula elementum semper. Sed euismod risus ac mi hendrerit mattis. Quisque eget tincidunt elit. Cras faucibus luctus rutrum. Nulla condimentum imperdiet nibh sit amet sagittis. If you need more help, see our
        a(
          target="_blank"
          href="https://github.com/jayshenk/prefixy/tree/master/docs"
        )  documentation on github here.

append body
  script(src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.0/prism.min.js")
